:root {
  --primary-color: #283c50;
}

html{
  overflow-x: hidden;
}

body {
  background-color: #f8f9fa;
}
.header-section {
  background-color: #1f3a56;
  color: white;
  padding: 15px 20px;
  border-radius: 6px 6px 0 0;
}
.form-section {
  background: white;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 6px 6px;
  padding: 25px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.btn-success {
  background-color: #28a745;
  border: none;
}
.btn-success:hover {
  background-color: #218838;
}

.btn-secondary {
  background-color: #91a5a5;
  border-color: #91a5a5;
}

.submit-btn {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  color: white;
}

.btn {
  border-radius: 0;
}

.btn:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.form-control {
  border-radius: 0;
}

.main-title {
  background-color: var(--primary-color);
  color: white;
}

.table-scroll thead th {
  position: sticky;
  top: 0;
  z-index: 5;
  background: var(--primary-color);
  color: #fff;
}

.table-scroll table {
  width: 100%;
  table-layout: fixed;
}

.table-scroll th,
.table-scroll td {
  padding: 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-scroll {
  overflow: auto;
}

.table-scroll thead th small {
  display: block;
  font-weight: normal;
  opacity: 0.85;
}

.table-scroll tfoot th,
.table-scroll tfoot td {
  position: sticky;
  bottom: 0;
  z-index: 5;
  background: var(--primary-color);
  color: #fff;
}